In [6]:
import pandas as pd

In [7]:
datas=['04-11-2022','15-11-2022','21-11-2022','28-11-2022','02-12-2022','09-12-2022','14-12-2022','03-02-2023','08-02-2023','13-02-2023','14-02-2023','21-02-2023','07-03-2023','28-03-2023','30-03-2023','15-05-2023','16-05-2023']

In [8]:
mydf = pd.DataFrame(datas, columns = ['Datas'])

In [9]:
mydf['Datas'] = pd.to_datetime(mydf['Datas'],format='%d-%m-%Y')

In [18]:
mydf['+3M'] = mydf['Datas'] + pd.DateOffset(months=3)

In [19]:
mydf['+6M'] = mydf['+3M'] + pd.DateOffset(months=3)

In [20]:
mydf

        Datas        +3M        +6M
0  2022-11-04 2023-02-04 2023-05-04
1  2022-11-15 2023-02-15 2023-05-15
2  2022-11-21 2023-02-21 2023-05-21
3  2022-11-28 2023-02-28 2023-05-28
4  2022-12-02 2023-03-02 2023-06-02
5  2022-12-09 2023-03-09 2023-06-09
6  2022-12-14 2023-03-14 2023-06-14
7  2023-02-03 2023-05-03 2023-08-03
8  2023-02-08 2023-05-08 2023-08-08
9  2023-02-13 2023-05-13 2023-08-13
10 2023-02-14 2023-05-14 2023-08-14
11 2023-02-21 2023-05-21 2023-08-21
12 2023-03-07 2023-06-07 2023-09-07
13 2023-03-28 2023-06-28 2023-09-28
14 2023-03-30 2023-06-30 2023-09-30
15 2023-05-15 2023-08-15 2023-11-15
16 2023-05-16 2023-08-16 2023-11-16