In [9]:
import numpy as np
import pandas as pd
from math import sqrt

In [20]:
m = [19,14.5,16,25,9.5,17,10.5,14.5,8.5,30,10,13.7,9.6,19.4,26,20,19.3,19.2,25,11.2]

In [11]:
np.mean(distance1)

14.944444444444445

In [12]:
np.std(distance1)

4.878777422244477

In [4]:
def mean(x):
    return (sum(y for y in x))/len(x)
mean(distance1)

14.944444444444445

In [22]:
import pandas as pd
import pint
import pint_pandas
ureg = pint.get_application_registry()
#ureg.Unit.default_format = "~P"
#pint_pandas.PintType.ureg.default_format = "~P"

df = pd.DataFrame({
    "distancia cm": pd.Series(m, dtype="pint[cm]"),
    "distancia metros": pd.Series([], dtype="pint[m]"),
})

print(df.pint.dequantify())

     distancia cm distancia metros
unit   centimeter            meter
0            19.0             <NA>
1            14.5             <NA>
2            16.0             <NA>
3            25.0             <NA>
4             9.5             <NA>
5            17.0             <NA>
6            10.5             <NA>
7            14.5             <NA>
8             8.5             <NA>
9            30.0             <NA>
10           10.0             <NA>
11           13.7             <NA>
12            9.6             <NA>
13           19.4             <NA>
14           26.0             <NA>
15           20.0             <NA>
16           19.3             <NA>
17           19.2             <NA>
18           25.0             <NA>
19           11.2             <NA>

In [21]:
def convert_cm_m(x):
    x= x * ureg.cm
    return x * ureg.m
convert_cm_m(m)
df['distancia metros']=df['distancia cm'].apply(convert_cm_m)
df.dtypes

distancia cm                     pint[centimeter]
distancia metros    pint[centimeter ** 2 * meter]
dtype: object

In [17]:
def dist_time(x):
    g = 9.8 * ureg['meter/second**2']
    time = np.sqrt(2*x/g)
    return time
print(dist_time(19))

NameError: name 'np' is not defined

In [95]:
df['tempo']=df['distancia'].apply(dist_time)

In [96]:
df

   distancia tempo
0       19.0  None
1       14.5  None
2       16.0  None
3       25.0  None
4        9.5  None
5       17.0  None
6       10.5  None
7       14.5  None
8        8.5  None

In [97]:
df.dtypes

distancia    pint[cm]
tempo          object
dtype: object